@import "~bootstrap/scss/bootstrap";
@import "./font/font.scss";
@import "./keyframe/key.scss";
@import "./basic-style/basic.scss";


section {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
   
    
}

.container{
    margin-top: 100px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 45px;
    font-family: 'Nunito', sans-serif;
    border-radius: 15px;
}

.title {
    top: 60px;
    position: relative;
    text-align: center;
}

.navig{
    display: none;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    @media(min-width: 991px){
        display: flex;
    }
}

.burger{
    display: block;
    @media(min-width: 991px){
        display: none;
    }
}

.trigger {
    position: relative;
    display: block;
    margin: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 40;
}

.trigger i {
    display: block;
    width: 30px;
    width: 30px;
    height: 4px;
    margin: 4px auto;
    background-color: black;
}

.menu-trigger {
    margin-right: 70px;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
    span {
        background-color: black;
    }
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    z-index: 50;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

 #content{
     position: fixed;
     flex-direction: column;
     top: 0;
     right: 0;
     width: 100%;
     height: 256px;
     display: none;
     z-index: 30;
     transform: translateY(-100%);
     transition: .5s;
     .show{
        display: flex;
        background-color: #fff;
        transform: translateY(0);
     }
 }

