@import "./font/font.scss";

.sliderRight{
    font-family: 'Cantarell', sans-serif;
        animation-name: slideRight;
        -webkit-animation-name: slideRight; 
     
        animation-duration: 1; 
        -webkit-animation-duration: 1s;
     
        animation-timing-function: ease-in-out; 
        -webkit-animation-timing-function: ease-in-out;     
     
      
     
    @keyframes slideRight {
        0% {
            transform: translateX(-150%);
        }
        50%{
            transform: translateX(0%);
        }
        65%{
            transform: translateX(0%);
        }
        80%{
            transform: translateX(0%);
        }
        95%{
            transform: translateX(0%);
        }           
        100% {
            transform: translateX(0%);
        }   
    }
     
    @-webkit-keyframes slideRight {
        0% {
            -webkit-transform: translateX(-150%);
        }
        50%{
            -webkit-transform: translateX(0%);
        }
        65%{
            -webkit-transform: translateX(0%);
        }
        80%{
            -webkit-transform: translateX(0%);
        }
        95%{
            -webkit-transform: translateX(0%);
        }           
        100% {
            -webkit-transform: translateX(0%);
        }
    }
}

.image-item{
        animation-name: image-item;
        -webkit-animation-name: image-item; 
     
        animation-duration: 0.9s; 
        -webkit-animation-duration: 0.9s;
     
        animation-timing-function: ease-out;    
        -webkit-animation-timing-function: ease-out;    
     
        visibility: visible !important; 
    
     
    @keyframes image-item {
        0% {
            transform: scale(0);      
        }
        50% {
            transform: scale(0);
        }   
        80% {
            transform: scale(0.99);
        }
        90% {
            transform: scale(1);
        }   
        100% {
            transform: scale(1);
        }           
    }
     
    @-webkit-keyframes image-item {
        0% {
            -webkit-transform: scale(1.8);      
        }
        50% {
            -webkit-transform: scale(0.95);
        }   
        80% {
            -webkit-transform: scale(1.05);
        }
        90% {
            -webkit-transform: scale(0.98);
        }   
        100% {
            -webkit-transform: scale(1);
        }                   
    }
}
.logotype{
    animation-name: logotype;
    -webkit-animation-name: logotype;  
 
    animation-duration: 2s;   
    -webkit-animation-duration: 2s;
 
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
 
@keyframes logotype {
    0% {
        transform: scale(0.9);
        opacity: 0.9;    
        
   
  
    }
    50% {
        transform: scale(1);
        opacity: 1; 
        

    }   
    100% {
        transform: scale(0.9);
        opacity: 0.9;   
        

    }           
}
 
@-webkit-keyframes logotype {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.9;       
        

    }
    50% {
        -webkit-transform: scale(1.25);
        opacity: 1; 
        

    }   
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.9;   
        

    }           
}


menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.type7 span:nth-of-type(1) {
    -webkit-animation: menu-bar07-01 .75s forwards;
    animation: menu-bar07-01 .75s forwards;
}

@-webkit-keyframes menu-bar07-01 {
    0% {
        -webkit-transform: translateY(20px) rotate(45deg);
    }

    50% {
        -webkit-transform: translateY(20px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar07-01 {
    0% {
        transform: translateY(20px) rotate(45deg);
    }

    50% {
        transform: translateY(20px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

.menu-trigger.type7 span:nth-of-type(2) {
    transition: all .25s .25s;
    opacity: 1;
}

.menu-trigger.type7 span:nth-of-type(3) {
    -webkit-animation: menu-bar07-02 .75s forwards;
    animation: menu-bar07-02 .75s forwards;
}

@-webkit-keyframes menu-bar07-02 {
    0% {
        -webkit-transform: translateY(-20px) rotate(-45deg);
    }

    50% {
        -webkit-transform: translateY(-20px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar07-02 {
    0% {
        transform: translateY(-20px) rotate(-45deg);
    }

    50% {
        transform: translateY(-20px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

.menu-trigger.active span:nth-of-type(1) {
    -webkit-animation: active-menu-bar07-01 .75s forwards;
    animation: active-menu-bar07-01 .75s forwards;
}

@-webkit-keyframes active-menu-bar07-01 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
    }

    50% {
        -webkit-transform: translateY(20px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(20px) rotate(45deg);
    }
}

@keyframes active-menu-bar07-01 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(20px) rotate(0);
    }

    100% {
        transform: translateY(20px) rotate(45deg);
    }
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-animation: active-menu-bar07-02 .75s forwards;
    animation: active-menu-bar07-02 .75s forwards;
}

@-webkit-keyframes active-menu-bar07-02 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
    }

    50% {
        -webkit-transform: translateY(-20px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(-20px) rotate(-45deg);
    }
}

@keyframes active-menu-bar07-02 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-20px) rotate(0);
    }

    100% {
        transform: translateY(-20px) rotate(-45deg);
    }
}